.logofont {
    font-family: 'Sarina';
    font-size: 32px;
    color: yellow;
}

.center {
    text-align: center;
}

.plogo {
    font-family: 'Sarina';
}

.list {
    list-style-type: none;
}

.jf1 {
   text-decoration: underline;
   color: white;
}

.jf2 {
    font-family: 'Playball', cursive;
    color: yellow;
    font-size: 30px;
}


.body {
    background-color: #E9ECEF;
}

.ul {
    list-style-type: none;
}

.under {
    text-decoration: underline;
}